
.section-5-img{
    position: relative;
    width: 40%;
}

.section-5-img  img{
    width: 100%;
}

.section-5-img .img-1{
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.section-5-content{
    width: 65%;
    padding:50px;
    max-height: 450px;
    line-height: 27px;
    background-color:var(--white-color-1);
}

.section-5-content h2{
    color: var(--main-color);
    font-size: 30px;
    
}

.section-5-content{
    position: relative;
}


.section-5-content h4{
    position: absolute;
    left: 150px;
    top: 40px;

}

.section-5-content span{
    font-weight: 600;
    font-size: 14px;
    color: var(--main-color);

}



.section-5-content p{
    color:var(--white-color-2);
    padding-top: 20px;
    text-transform: lowercase;

}
